VITE_API_URL=https://api.proofpay.online/api
VITE_CIRCLE_APP_ID=
VITE_EURC_ESCROW_ADDRESS=0xa4322D8ba3E040A3028FD6ABaC3c6a5625ed4ca7
VITE_CIRBTC_ESCROW_ADDRESS=0x8bfeD6F70Eb595946543b192b6E63d75A0bBEf4B
